<div class="row" style="position: sticky; top: 0;">
    <div class="col-md-10 col-md-offset-1" style="display: flex">
        <div style="background-color: coral; flex-basis: 60%;">
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="/add_product">Add Product</a>
            <a href="/remove_product">Remove Product</a>
        </div>
        <div style="background-color: purple; flex-basis: 40%;">
            <form action="/search/request" method="POST">
                <input type="text" name="searchQuery">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>