<!DOCTYPE html>
<html>
    <head>
        <% include ../includes/header.ejs%>
    </head>

    <body>
        <% include ../includes/banner.ejs%>
        <h3>See search page for products</h3>
    </body>
</html>